.thumbnail {
  background-color: cornsilk;
  margin-top: 40px;
  width: 240px;
  height: 400px;
  overflow: auto;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.title {
  font-weight: bold;
}

