<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Youtuber</a>
    </div>
  </div>
</nav>
<div class='container'>
  <!--<div class="page-header">-->
    <!--<p class="loading" *ngIf="loading">loading....</p>-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 ">-->
        <!--&lt;!&ndash;<h2>&ndash;&gt;-->
          <!--&lt;!&ndash;YouTube Search&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<img&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;style="float: right;"&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;*ngIf="loading"&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;src='${loadingGif}' />&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</h2>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="col-md-12">
        <app-search (loading)="loading = $event" (results)="updateResults($event)">
        </app-search>
      </div>
    </div>
  </div>

  <div class="row">
    <app-search-result *ngFor="let result of results" [result]="result">
    </app-search-result>
  </div>
</div>
